body {
  background-image: url(movie4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#movies img,
#movie img {
  width: 100%;
}

@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 450px;
    margin: 20px;
    padding: 10px;
    background-color: #242321;
  }

  #movies .col-md-3 img {
    height: 300px;
  }
}

h5 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-header a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #e9fcfc;
}
